<!-- Maintained by: Camille, -->
<h1>Pages#Work</h1>
<p>Find me in app/views/pages/guides.html.erb</p>
<p>This a change</p>
<!-- Change center this video -->
      <div class="video-container">
        <iframe width="853" height="480" src="//www.youtube.com/watch?v=gC1RVzQNxUc" frameborder="0" allowfullscreen></iframe>
      </div>